:root{
      --texto:#fff;
      --recomendacion:#001e69;
      --body:#aaa;
      --color_cambio:#b50;
}
body{
	background: var(--body);
	display: flex;
	flex-wrap: wrap;
}
div{
		box-sizing: border-box;
}
/*------------------encabezado---------------*/
header{
	color: var(--texto);
	width: 100%;
	background: var(--recomendacion);
}
.logo h1{
	font-size: 50px;
	font-family: "Pacifico";
	margin: 20px;
}
.menu{
  font-size: 30px;
  cursor: pointer;
}
.alinear{
	display: inline-block;
}
.active{
    transform: rotateX(90deg);
}
header nav ul{
	  list-style: none; 
	  display: inline-block;	  
}
header nav ul li{
display: inline-block;
}
header nav ul li a{
	padding: 20px;
	text-decoration: none;
	font-size: 18px;
}
header nav ul li a:link{
     color: var(--texto) ;
}
header nav ul li a:hover{
	text-decoration: underline;
}
 a:visited{
	color: var(--texto);
}
header nav ul input{
	padding: 5px;
	background: var(--texto);
	border: 2px solid var(--color_cambio);
}
header nav ul input::placeholder{
	color: #000;
}
/*----------------recomendaciones--------------*/
section{
	flex-basis: 100%;
	height: 100%;
}
.contenedor_recomendaciones{
	display: grid;
	grid-template-columns: repeat(auto-fit,200px);
	grid-template-rows: repeat(2,300px);
	grid-auto-rows: 300px;
	grid-gap: 10px;
	padding: 10px;
}
.contenedor_recomendaciones div{
	background: var(--recomendacion);
	padding: 5px;
}
.contenedor_recomendaciones a{
	text-decoration: none;
}
.contenedor_recomendaciones a:visited {
    color:#ddd;
}
.contenedor_recomendaciones div img{
	width: 100%;
	height: 80%;
}
/*---------------------publicidad---------------------*/
aside{
	border: 2px solid var(--color_cambio);
	flex-basis: 100%;
	height: 200px;
}
aside img{
	width: 100%;
	height: 100%;
}
/*----------------------------------------------------*/
/*--------------------Categorias----------------------*/
/*----------------------------------------------------*/
.contenedor_categoria{
	width: 100%;
}
.titulo_categoria{
   text-align: center;
   text-decoration-line: underline;
   margin: 30px;
}
.categorias{
	list-style: none;
}
.categorias li{
	display: inline-block;
}
.categorias li a{
	padding: 5px;
	border-right: 1px solid var(--color_cambio);
	text-decoration-line: none;
}
.categorias li a:visited,.categorias li a:visited{
	color:#000;
}
.categorias li a:hover{
    text-decoration-line: underline;
    color: var(--color_cambio);
}
/*-----------------------grid categorias--------------*/

.contenedor_grid_categorias{
	flex-basis: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit,100px);
	grid-template-rows: repeat(3,150px);
	grid-auto-rows: 150px;
	grid-gap: 20px;
	padding: 10px 20px;
}
.contenedor_grid_categorias div{
	background: var(--recomendacion);
	padding: 5px;
}
.contenedor_grid_categorias img{
	width: 100%;
}
/*cambio de pagina*/
.pagina_categoria{
	flex-basis: 100%;
	display: flex;
	justify-content: center;
	margin:20px 0;  
}
.pagina_categoria button{
	font-weight:bold;
}
.pagina_categoria .numero_pagina{
     margin: 0px 20px;
 }
 .pagina_categoria .numero_pagina button{
 	margin-right: -5px;
 }
 /*----------------------------------------------------*/
/*--------------------Informacion----------------------*/
/*----------------------------------------------------*/
.contenedor_info{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
    background: #093
}
.contenedor_info .portada{
   width: 150px;
   height: 200px;
   padding: 20px;
}
.contenedor_info .portada img{
	width: 100%;
	height: 100%;
}
.contenedor_info .sinopsis{
	width: 70%;
	padding: 0 20px;
}
/*capitulos*/
.contenedor_capitulos{
	margin:20px 10px;
	background: #ccc;
	flex-basis: 90%;
	height: 250px;
	border:2px solid#5b3;
	overflow: auto;
}
.contenedor_capitulos div{
	background: #000;
	color: #fff;
	border-bottom: 2px solid#5b3 ;
}
.contenedor_capitulos div p{
	display: inline-block;
}
.contenedor_capitulos .episodio{
	margin-left: 20px;
}
.lectura,.visto{
	float: right;
	margin-right: 30px;
}
/* tu comentario*/
form{
	margin: 20px 10px;
}
textarea{
	min-width: 90%;
	max-width: 90%;
	min-height: 70px;
	max-height: 70px;
}
/*zona de comentarios*/
.zona_comentarios{
	background: #fff;
	width: 90%;
	height: 200px;
	margin: 0 0 20px 10px;
	overflow: auto;
}
.zona_comentarios .comentario_individual{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 45%;
    background: #777;
}
.zona_comentarios .comentario_individual div{
	width: 70px;
	height: 75px;
    padding: 10px;
}
.zona_comentarios .comentario_individual div img{
	width: 100%;
	height:100%;
}
.zona_comentarios .comentario_individual p{
	width: 80%;
	font-size: 14px;
}
/*-----------------------footer-----------------------*/
footer{
	padding: 5px 10px;
	width: 100%;
	height: 50px;
}
footer p{
	font-size: 18px;
}